<div class='row mt-3'>
  <div class='col-md-3'>
    <table class="table table-hover">
      <thead>
        <th>
          <label class="align-self-center rounded text-primary">
            Users:
          </label>
        </th>
      </thead>
      <tbody>
        <button style="width: 100%;"class="row m-2 p-2 shadow-lg border border-primary rounded" *ngFor="let user of inbox | keyvalue"
          (click)="RowSelected(user.value, user.key, $event);">
          <div class="  rounded text-primary">{{user.key}}</div>

      </button>
      </tbody>
    </table>
  </div>
  <div class='col-md-8 ml-1'>
    <div class='row mb-3 border '>
      <div id="scrollableContainer" style="overflow-y:scroll; overflow-x:hidden; height:20em; width: 60em;" >
        <div class="container">
          <div class="row" *ngFor="let msg of messages; let last = last" [ngClass]="{
        'mr-3': msg.sender == currUser.username,
        'ml-3':msg.sender != currUser.username}">
            <div class="p-1 mb-1 shadow-sm rounded" [ngClass]="{
              'badge-primary align-to-right': msg.sender == currUser.username,
              'badge-secondary align-self-start':msg.sender != currUser.username}">
              <div class="border-bottom">
                {{msg.subject}}
              </div>
              <div>
                {{msg.content}}
                {{last ? scrollToBottom() : ''}}
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
    <div class='row mt-3'>
      <div class='col-md-8 mr-3'>
        <form [formGroup]="form">
        <div class='row shadow-sm p-1 mb-1 bg-white rounded'>
          <input type="text" style="width: 100%;" formControlName="subject" id="subject" class="form-control" placeholder="Subject">
        </div>
        <div class='row mt-3 shadow-sm p-1 mb-1 bg-white rounded'>
          <textarea rows="5" cols="70" style="resize: none;" class="form-control" formControlName="content" placeholder="Content">
        </textarea>
        </div>
      </form>
      </div>
      <div class='col-md-3 ml-3 mt-3'>
        <div class='row mt-3'>
          <button class="btn btn-secondary mt-3" style="width: 97%;" type="button" (click)="sendToEveryone(sendMessageModal)">
            Send to everyone
          </button>
        </div>
        <div class='row mt-3 ' >
          <button class="btn btn-secondary" style="width: 97%;" type="button" (click)="sendToUser()">
            Send
          </button>
        </div>
      </div>
    </div>
  </div>

</div>

<ng-template #sendMessageModal let-close="close">
  <div class="modal-header">
    <h4 class="modal-title">Send message</h4>
    <button type="button" class="close" (click)="close()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body ">
    <app-sendMessage [sendToEveryone]="true" (notifyParent)="close()"></app-sendMessage>
  </div>
  <div class="modal-footer">
  </div>
</ng-template>