.vertical-center {
    margin: 0;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-90%);
    transform: translateY(-90%);
  }
  .align-to-right {
    margin-left:auto;
    margin-right:0;
  }